body {
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}
#memo, #memoList {
    display: none;
}
button {
    cursor: pointer;
    height: fit-content;
}
#subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#calendar {    
    display: flex;
}
td {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 8px;
}
table {
    margin: 0 auto;
}
p{
    margin: 5px;
}
div {
    margin: 1em;
}