body {
    padding: 5% 0;
}
.wrapper {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.images {
    display: flex;
    transition: transform 0.5s ease;
    height: 1200px;
}
.image {
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
img {
    object-fit: fill;
    min-width: 100%;
    min-height: 100%;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    cursor: pointer;
    user-select: none;
    color: aliceblue;
}
.arrow.left {
    left: 0.3em;
}
.arrow.right {
    right: 0.3em;
}