/* footer */
footer {
    vertical-align: baseline;
    color: rgb(26, 27, 28);
    box-sizing: border-box;
    font-size: 0.875rem;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 27px 0px 37px;
    border-top: 1px solid rgb(229, 234, 234);
    background-color: rgb(255, 255, 255);
}
.footerWrapper {
    margin: auto 5rem;
}

.footer-wrapper-site-menu-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper-site-cs-info {
    display: flex;
    justify-content: space-between;
    width: 930px;
    height: auto;
    z-index: 1;
    font-size: 12px;
}

.service-title {
    min-width: 82px;
    font-weight: 700;
    font-size: 14px;
}

.service-detail-info a {
    padding: 0px;
}

.cs-info-list {
    list-style: none;
    position: relative;
}

.cs-info-list li {
    padding: 0px;
    border: 0px;
    display: flex;
    flex-direction: row;
}

.page-link {
    margin-left: 5px;
}

.companyInfoWrapper {
    border-top: 1px solid rgb(229, 234, 234);
    display: flex;
    justify-content: space-around;
    margin: 25px 130px 0px 130px;
    padding-top: 20px;
}
.companyInfo {
    font-size: 12px;
}

.companyInfo p {
    margin: 0px;
    color: #ABB1B1;
}